/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhiI2B.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZxhiI2B.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhiI2B.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhiI2B.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZJhiI2B.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZthiI2B.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZNhiI2B.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZxhiI2B.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZBhiI2B.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhiI2B.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFWkU1Z4Y.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFU0U1Z4Y.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFVUU1Z4Y.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFWUU1Z4Y.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFV0U1.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*Gilroy*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-semibold.woff2) format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-bold.woff2) format("woff2");
}

/*===========CSS RESET START============*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*===========CSS RESET END============*/

/*===========COMMON STYLES START============*/
*,
::before,
::after {
  box-sizing: border-box;
}
a,
span {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  color: var(--color-text);
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  font-family: "Gilroy", sans-serif;
  padding-bottom: 1000px; /*development*/
}
:root {
  --color-text: hsl(256, 23%, 75%);
  --bg-color: hsl(238, 64%, 16%);
  --accent-color: hsl(28, 87%, 62%);
  --title-color: hsl(158, 73%, 77%);
}
picture {
  display: inline-block;
}
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 38px;
  min-width: 157px;
  margin-top: 40px;
}
.btn-primary {
  color: var(--accent-color);
}
.btn-secondary {
  border: 1px solid transparent;
  color: #fff;
  background-color: var(--accent-color);
  box-shadow: -11.09px 18.13px 36.6483px hsla(28, 87%, 62%, 0.13);
}
.text-margin {
  margin-top: 32px;
}
.text {
  line-height: 1.87;
}
.picture {
  width: 420px;
  height: 100%;
}
/*===========COMMON STYLES END============*/
/*===========HEADER STYLES START============*/
.header {
  padding-top: 79px;
}
.nav,
.menu,
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  width: 100%;
  height: auto;
}
.menu {
  color: hsl(0, 0%, 71%);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 44px;
}
.menu > li:not(:first-child) {
  margin-left: 15px;
}
.menu a {
  padding: 10px;
}
.nav-btns > .btn {
  padding: 10px 25px;
  min-width: initial;
  margin-top: initial;
}
.nav-btns > .btn:not(:first-child) {
  margin-left: 25px;
}
.title {
  color: var(--title-color);
  font-size: 42px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 1.19;
}
.title-accent {
  color: var(--accent-color);
}
/*===========HEADER STYLES END============*/
/*===========HERO STYLES START============*/
.hero {
  padding: 135px 0 0 0;
  position: relative;
}

.main-title {
  font-size: 44px;
  line-height: 1.14;
  width: 530px;
}
.main-text {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.2;
  width: 465px;
}
.hero-btns > .btn {
  padding: 13px 38px;
  min-width: 157px;
  margin-top: 40px;
}
.hero-btns > .btn:not(:first-child) {
  margin-left: 20px;
}
.hero-img {
  width: 723px;
  height: auto;
  position: absolute;
  top: 100px;
  left: 49%;
}
/* ---------MODAL-WINDOW---------- */
body.show-modal{
  overflow: hidden;
}

body.show-modal .modal-backdrop-bg{
  visibility: visible;
}
.close-btn-img{
  width: 36px;
  height: auto;
  
}
.close-btn{
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-100%, -100%);
  padding: 5px;
  z-index: 2000;
}
.modal-backdrop-bg{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: hsla(252, 57%, 20%, 0.658);
  display: flex;
  visibility: hidden;
}
.modal-window{
  width: 500px;
  height: 300px;
  margin: auto;
  position: relative;
}

.video-wrapper {
  display: flex;
  align-items: center;
  margin-left: 0 auto;
  margin-top: 60px;
}
.video-img {
  width: 150px;
  height: 80px;
}
.video{
  width: 100%;
  height: auto;
}
  

.video.play {
  width: 355px;
  height: 202px;
}
.video-wrap {
  position: relative;
}
.play-video{
  color: #6D6D78;
  padding: 8px 0;
}
.video-play-btn {
  position: absolute;
  border-radius: 50%;
  color: var(--accent-color);
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.video-text {
  font-size: 16px;
  line-height: 1.37;
  width: 380px;
  font-family: "Inter", sans-serif;
}
.video-description {
  margin-left: 20px;
}
.video-description > span {
  color: hsl(240, 5%, 45%);
  margin-top: 10px;
}

.video-play-btn.hide {
  visibility: hidden;
  z-index: -1;
}
.sponsor-set {
  display: flex;
  margin-top: 100px;
}
.sponsor-logo {
  width: 50%;
  height: 50px;
  opacity: 0.3;
}
.logo-brand1 {
  background: url(../img/brand2.svg) no-repeat 50%/50%;
}
.logo-brand2 {
  background: url(../img/brand3.svg) no-repeat 50%/50%;
}
.logo-brand3 {
  background: url(../img/brand4.svg) no-repeat 50%/50%;
}
.logo-brand4 {
  background: url(../img/brand5.svg) no-repeat 50%/50%;
}
.logo-brand5 {
  background: url(../img/brand6.svg) no-repeat 50%/50%;
}
.logo-brand6 {
  background: url(../img/brand7.svg) no-repeat 50%/50%;
}

/*===========HERO SECTION END=========*/

/*===========FEATURES SECTION START=========*/

.features {
  padding: 98px 0 0 0;
}

.centered-text,
.centered-title {
  text-align: center;
}
.features .text {
  margin-top: 15px;
  font-size: 16px;
}
.feature-items {
  margin-top: 50px;
}
.item-wraper {
  display: flex;
  justify-content: center;
}
.feature-item:not(:first-child) {
  margin-left: 55px;
}
.item-wraper:not(:first-child) {
  margin-top: 35px;
}
.feature-items p {
  width: 250px;
}
.feature-title {
  position: relative;
  font-size: 18px;
  color: var(--title-color);
}
.feature-title::before {
  position: absolute;
  top: 0;
  right: 100%;
  padding-right: 25px;
  transform: translateY(-20%);
}
.feature-title-icon1::before {
  content: url(../img/flip-horizontal-icon.svg);
}
.feature-title-icon2::before {
  content: url(../img/airpods-icon.svg);
}
.feature-title-icon3::before {
  content: url(../img/conection-icon.svg);
}
.feature-title-icon4::before {
  content: url(../img/thunder-icon.svg);
}
.feature-title-icon5::before {
  content: url(../img/attach-icon.svg);
}
.feature-title-icon6::before {
  content: url(../img/bulb-icon.svg);
}
/*===========FEATURES SECTION END=========*/

/*===========TRAFFIC-SECTION SECTION START=========*/
.traffic-section {
  padding: 150px 0 0 0;
}
.traffic-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.traffic-content {
  width: 450px;
}
.traffic-content-img {
  width: 100%;
  height: auto;
}
.traffic-content-wrapper .picture {
  margin-left: 60px;
  position: relative;
}
.traffic-content-wrapper .picture::after {
  content: "";
  background: url(../img/arrow.svg) no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 8px;
  display: inline-flex;
  top: 80%;
  right: 50%;
  transform: translateX(-50%);
  box-shadow: -16.0895px 24.1342px 36.6483px rgba(19, 194, 150, 0.24);
}
/*===========TRAFFIC-SECTION END=========*/

/*===========REVIEWS-SECTION START=========*/
.reviews-section{
  padding: 180px 0 0 0;
}
.section-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-wrapper .title{
  width: 800px;
}
.reviews-wrapper .text{
  width: 414px;
}



.review-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 60px;
}
.review{
  width: 290px;
  text-align: center;
}
.review p{
  margin-top: 15px;
}
.review:not(:first-child){
  margin-left: 110px;
}
.review-title{
font-size: 36px;
}
/*===========FEATURES SECTION END=========*/

/*===========OFFER SECTION START=========*/
.section-offer{
  padding: 169px 0 0 0;
  position: relative;
}
/* .section-offer::after{
  content: '';
  background: url(../img/section_bg.svg) no-repeat;
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translateY(30%) translateX(50%);
  width: 1200px;
  height: 400px;
  display: inline-flex;
  opacity: 0.7;
  z-index: -1;
} */
.section-offer-wrapper .title{
  width: 770px;
}
