/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhiI2B.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZxhiI2B.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhiI2B.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhiI2B.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZJhiI2B.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZthiI2B.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZNhiI2B.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZxhiI2B.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZBhiI2B.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhiI2B.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFWkU1Z4Y.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFU0U1Z4Y.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFVUU1Z4Y.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFWUU1Z4Y.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFV0U1.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*Gilroy*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-semibold.woff2) format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Gilroy/gilroy-bold.woff2) format("woff2");
}

/*===========CSS RESET START============*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*===========CSS RESET END============*/

/*===========COMMON STYLES START============*/
*,
::before,
::after {
  box-sizing: border-box;
}
a,
span {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  color: var(--color-text);
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  font-family: "Gilroy", sans-serif;
}
:root {
  --color-text: hsl(
    256,
    23%,
    75%
  ); /*initial color for text not contrasting enough (#8476AA;)*/
  --bg-color: hsl(238, 64%, 16%);
  --accent-color: hsl(28, 87%, 62%);
  --title-color: hsl(158, 73%, 77%);
}
picture {
  display: inline-block;
}
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 38px;
  min-width: 157px;
  margin-top: 40px;
}
.btn-primary {
  color: var(--accent-color);
}
.btn-secondary {
  border: 1px solid transparent;
  color: #fff;
  background-color: var(--accent-color);
  box-shadow: -11.09px 18.13px 36.6483px hsla(28, 87%, 62%, 0.13);
}
.text-margin {
  margin-top: 32px;
}
.text {
  line-height: 1.87;
}
.picture {
  width: 420px;
  height: 100%;
}
/*===========COMMON STYLES END============*/
/*===========HEADER STYLES START============*/
.header {
  padding-top: 79px;
}
.nav,
.menu,
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  width: 100%;
  height: auto;
}
.menu {
  color: hsl(0, 0%, 71%);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 44px;
}
.menu > li:not(:first-child) {
  margin-left: 15px;
}
.menu a {
  padding: 10px;
}
.nav-btns > .btn {
  padding: 10px 25px;
  min-width: initial;
  margin-top: initial;
}
.nav-btns > .btn:not(:first-child) {
  margin-left: 25px;
}
.title {
  color: var(--title-color);
  font-size: 42px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 1.19;
}
.title-accent {
  color: var(--accent-color);
}
/*===========HEADER STYLES END============*/
/*===========HERO STYLES START============*/
.hero {
  padding: 135px 0 0 0;
  position: relative;
}

.main-title {
  font-size: 44px;
  line-height: 1.14;
  width: 530px;
}
.main-text {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.2;
  width: 465px;
}
.hero-btns > .btn {
  padding: 13px 38px;
  min-width: 157px;
  margin-top: 40px;
}
.hero-btns > .btn:not(:first-child) {
  margin-left: 20px;
}
.hero-img {
  width: 723px;
  height: auto;
  position: absolute;
  top: 100px;
  left: 49%;
}
/* ---------MODAL-WINDOW---------- */
body.show-modal {
  overflow: hidden;
}

body.show-modal .modal-backdrop-bg {
  visibility: visible;
}
.close-btn-img {
  width: 36px;
  height: auto;
}
.close-btn {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-100%, -100%);
  padding: 5px;
  z-index: 2000;
}
.modal-backdrop-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: hsla(252, 57%, 20%, 0.658);
  display: flex;
  visibility: hidden;
}
.modal-window {
  width: 500px;
  height: 300px;
  margin: auto;
  position: relative;
}

.video-wrapper {
  display: flex;
  align-items: center;
  margin-left: 0 auto;
  margin-top: 60px;
}
.video-img {
  width: 140px;
  height: 80px;
}
.video {
  width: 100%;
  height: auto;
}

.video.play {
  width: 355px;
  height: 202px;
}
.video-wrap {
  position: relative;
}
.play-video {
  color: #6d6d78;
  padding: 8px 0;
}

.video-play-btn.hide {
  visibility: hidden;
}
.video-play-btn {
  position: absolute;
  border-radius: 50%;
  color: var(--accent-color);
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.video-text {
  font-size: 16px;
  line-height: 1.37;
  width: 380px;
  font-family: "Inter", sans-serif;
}
.video-description {
  margin-left: 20px;
}
.video-description > span {
  color: hsl(240, 5%, 45%);
  margin-top: 10px;
}

.video-play-btn.hide {
  visibility: hidden;
  z-index: -1;
}
.sponsor-set {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.sponsor-set > img {
  width: auto;
  height: 100%;
  opacity: 0.3;
  border: 0;
}

/*===========HERO SECTION END=========*/

/*===========FEATURES SECTION START=========*/

.features {
  padding: 98px 0 0 0;
  background: url(../img/bg-first-section.svg) 50% 50%/100% no-repeat;
}

.centered-text,
.centered-title {
  text-align: center;
}
.features .text {
  margin-top: 15px;
  font-size: 16px;
}
.feature-items {
  margin-top: 50px;
}
.item-wraper {
  display: flex;
  justify-content: center;
}
.feature-item:not(:first-child) {
  margin-left: 55px;
}
.item-wraper:not(:first-child) {
  margin-top: 35px;
}
.feature-items p {
  width: 250px;
}
.feature-title {
  position: relative;
  font-size: 18px;
  color: var(--title-color);
}
.feature-title::before {
  position: absolute;
  top: 0;
  right: 100%;
  padding-right: 25px;
  transform: translateY(-20%);
}
.feature-title-icon1::before {
  content: url(../img/flip-horizontal-icon.svg);
}
.feature-title-icon2::before {
  content: url(../img/airpods-icon.svg);
}
.feature-title-icon3::before {
  content: url(../img/conection-icon.svg);
}
.feature-title-icon4::before {
  content: url(../img/thunder-icon.svg);
}
.feature-title-icon5::before {
  content: url(../img/attach-icon.svg);
}
.feature-title-icon6::before {
  content: url(../img/bulb-icon.svg);
}
/*===========FEATURES SECTION END=========*/

/*===========TRAFFIC-SECTION SECTION START=========*/
.traffic-section {
  padding: 150px 0 0 0;
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content {
  width: 430px;
}
.content-img {
  width: 100%;
  height: auto;
}
.content-wrapper .picture {
  margin-left: 60px;
  position: relative;
}
.arrow::after {
  content: "";
  background: url(../img/arrow.svg) no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 8px;
  display: inline-flex;
  top: 80%;
  right: 50%;
  transform: translateX(-50%);
  box-shadow: -16.0895px 24.1342px 36.6483px rgba(19, 194, 150, 0.24);
}
/*===========TRAFFIC-SECTION END=========*/

/*===========REVIEWS-SECTION START=========*/
.reviews-section {
  padding: 180px 0 0 0;
  background: url(../img/bg-third-section.svg) 0% 50% no-repeat;
}
.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-wrapper .title {
  width: 800px;
}
.reviews-wrapper .text {
  width: 414px;
}

.review-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 60px;
}
.review {
  width: 290px;
  text-align: center;
}
.review p {
  margin-top: 15px;
}
.review:not(:first-child) {
  margin-left: 110px;
}
.review-title {
  font-size: 36px;
}
/*===========FEATURES SECTION END=========*/

/*===========OFFER SECTION START=========*/
.section-offer {
  padding: 169px 0 360px 0;
  position: relative;
  background: url(../img/bg-proposal-section.svg) 50% 100% no-repeat;
}
.section-offer-wrapper .title {
  width: 770px;
}

/*===========INVEST-SECTION SECTION START=========*/

.invest-section {
  padding: 100px 0 0 0;
  background: url(../img/bg-card.svg) 100% 100% no-repeat;
}
.invest-section .content-wrapper {
  gap: 200px;
}

/* =======CARD======= */

.invest-card {
  background-color: #fff;
  border-radius: 10px;
}
.invest-card .arrow::after {
  top: 50%;
  right: 100%;
  transform: translate(50%, 30%);
}
.invest-section .picture {
  margin-left: initial;
  width: 260px;
  height: auto;
}
.invest-section .content-img {
  border-radius: 10px 10px 0 0;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  position: relative;
}
.card-title {
  font-size: 16px;
  color: #212b36;
  width: 188px;
}
.card-result {
  margin-top: 20px;
}
.card-title > span,
.card-text > span {
  color: #637381;
  font-size: 10px;
}
.card-text {
  font-size: 24px;
  color: #13c296;
}
.card-text > span {
  text-transform: uppercase;
}
.indicators {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 35px;
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 200px;
  height: 1px;
  background-color: #d6dbdf;
}
.label {
  padding: 15px 25px 15px 13px;
  background: #516ea9;
  box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -100%);
}
.label > p {
  font-size: 16px;
  color: #fff;
}
.label span {
  font-size: 10px;
  letter-spacing: 0.5px;
  color: hsla(0, 0%, 100%, 0.6);
}
/*===========INVEST-SECTION SECTION START=========*/
.support-section {
  padding: 200px 0 100px 0;
  background: url(../img/bg-support-section.svg) 15% 55% no-repeat;
}
.support-section .picture {
  width: 375px;
  height: 100%;
}
.team-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.support-content {
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  gap: 143px;
}
.info-title {
  width: 415px;
}
.info {
  position: relative;
}
.info::after {
  content: url(../img/bg-third-section.svg);
  position: absolute;
  top: -50%;
  left: 60%;
  transform: rotate(180deg);
}
.info .title {
  font-size: 26px;
  letter-spacing: 0.3px;
}
.info-features {
  display: flex;
  margin-top: 100px;
  gap: 60px;
}
.info-features p {
  margin-top: 10px;
}
.info-feature {
  width: 200px;
  position: relative;
}
.info-feature::before {
  position: absolute;
  top: -50%;
  left: 0;
  transform: translateY(-20%);
}
.feature1::before {
  content: url(../img/swiss-knife-icon.svg);
}
.feature2::before {
  content: url(../img/conection-icon2.svg);
}
.info-feature > .title {
  font-size: 14px;
}
/*===========INVEST-SECTION SECTION END=========*/

/*===========FORM-SECTION SECTION START=========*/
.section-form {
  padding: 65px 0 185px 0;
  background: url(../img/bg-section-form.svg) 50% 0% no-repeat;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: hsla(238, 35%, 36%, 0.19);
  padding: 50px 150px;
  backdrop-filter: blur(134px);
  border-radius: 5px;
}
.secondary-title {
  font-size: 36px;
  color: var(--accent-color);
}
.form-text {
  font-size: 16px;
  width: 390px;
  margin-top: 20px;
  line-height: 1.37;
}
.form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.form input {
  background: hsla(0, 0%, 96%, 0.1);
  border-radius: 5px 0 0 5px;
  padding: 18px 16px;
  margin-top: 23px;
  width: 288px;
}
.form input::placeholder {
  color: hsla(0, 0%, 100%, 0.2);
  line-height: 1.43;
}
.form button {
  padding: 19px 46px;
  border-radius: 0 5px 5px 0;
  border-left: 2px solid var(--accent-color);
  border: 1px solid transparent;
}
.info-text {
  margin-top: 20px;
}
/*===========FORM-SECTION SECTION END=========*/

/*===========FOOTER SECTION START=========*/
.footer {
  padding: 0 0 100px 0;
  font-family: "Inter", sans-serif;
  background: url(../img/bg-footer.svg) no-repeat;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-set {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social-set > img {
  width: 40px;
  height: auto;
}
.footer-menu-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
}
.footer-menu {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.footer-menu a {
  padding: 8px;
}
.footer-menu > li:first-child {
  font-weight: 700;
  padding-bottom: 15px;
}
.policy-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-weight: 400px;
  margin-top: 120px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #8d8d8d;
}
